		</div>
		<div class="footer">
			<div class="container">
				<p class="text-center">© 2015 boyn.com, all rights reserved</p>
				<p class="text-center">NodeJS连接Mysql第一个Demo</p>
			</div>
		</div>
		<script src="/js/lib/jquery.js"></script>
		<script src="/js/user/index.js"></script>
	</body>
</html>