<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/lib/bootstrap.min.css"> 
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/user/index.css">
		<title><%= title%></title>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1 class="row">NodeJS连接Mysql</h1>
			</div>
		</div>
		<div class="container">
		